@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-800 font-sans antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900;
    font-family: 'Outfit', sans-serif;
  }
}